@using MudBlazor
@using DWIS.Docker.Clients
@using DWIS.Docker.Models
@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages
@using DWIS.Docker.Constants;
@inject DWISModulesConfigurationClient ModulesConfigurationClient
@inject DWISDockerClient DockerClient



<GenericModuleComponent TModuleConfig=DWIS.MicroState.InterpretationEngine.Configuration
                        ConfigFileName=""
                        ContainerConfigPath=""
                        ImageName="@Names.SCHEDULER_NOTAG"
                        ImageTag="@Names.STABLE_TAG"
                        LocalConfigPath=""
                        _newContainerName=@Names.SCHEDULER_CONTAINER_NAME />



@* <MudExpansionPanels>

    <MudExpansionPanel Dense Gutters="false" Class="mt-1" Text="Containers">
        <TitleContent>
            <div class="d-flex">
                <MudText Class="mt-1">Containers</MudText>
            </div>
        </TitleContent>

        <ChildContent>


            <MudGrid>
                <MudItem xs="3">
                    <MudTextField @bind-Value="_newContainerName" Label="New container name" Variant="Variant.Filled"></MudTextField>
                </MudItem>
                <MudItem xs="3">
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.LibraryAdd" Color="Color.Success" OnClick="() => CreateSchedulerContainer()">Create scheduler container</MudButton>
                </MudItem>
            </MudGrid>

            <MudTable Items="_containers">
                <HeaderContent>
                    <MudTh>Container Name</MudTh>
                    <MudTh>Start</MudTh>
                    <MudTh>Stop</MudTh>
                    <MudTh>Delete</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Container Name">@context.name</MudTd>
                    <MudTd DataLabel="Start">
                        <MudIconButton Icon="@Icons.Material.Outlined.PlayArrow" OnClick="() => DockerClient.StartContainer(context.id)">
                        </MudIconButton>
                    </MudTd>
                    <MudTd DataLabel="Stop">
                        <MudIconButton Icon="@Icons.Material.Outlined.Stop" OnClick="() => DockerClient.StopContainer(context.id)">
                        </MudIconButton>
                    </MudTd>
                    <MudTd DataLabel="Delete">
                        <MudIconButton Icon="@Icons.Material.Outlined.Delete" OnClick="() => DeleteContainer(context.id)">
                        </MudIconButton>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels> *@

@code {

    // private List<(string id, string name)>? _containers;
    // private string _newContainerName { get; set; } = "scheduler";


    // protected override async Task OnInitializedAsync()
    // {
    //     var en = await DockerClient.GetSchedulerContainers();
    //     _containers = en.ToList();
    // }

   

    // private async void CreateSchedulerContainer()
    // {
    //     await DockerClient.CreateSchedulerContainer(_newContainerName);
    //     var en = await DockerClient.GetSchedulerContainers();
    //     _containers = en.ToList();
    //     await InvokeAsync(StateHasChanged);
    // }

    // private async Task DeleteContainer(string id)
    // {
    //     await DockerClient.DeleteContainer(id);
    //     var en = await DockerClient.GetSchedulerContainers();
    //     _containers = en.ToList();
    //     await InvokeAsync(StateHasChanged);
    // }


}

