@using MudBlazor;
@using DWIS.Docker.Models;
@using DWIS.Docker.Clients;
@inject StandardSetUp SetUp;
@inject DWISDockerClient _client;
@inject DWISModulesConfigurationClient _modulesConfigClient;

<style>
    .mud-table-cell-custom-group {
        font-weight: 700;text-align:left
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>
<div class="mt-6 ml-4">
    <MudGrid>

        <MudItem xs="3">

<MudText  Class="ml-4 mt-4" Typo="Typo.h6">Blackboard</MudText>
<MudForm>
    <MudGrid>
        <MudItem xs = "6">
      <MudCheckBox @bind-Value="@ReplicationEnabled" >Replication</MudCheckBox>
      </MudItem> 
      <MudItem xs = "6">
     <MudTextField Class="ml-4" FullWidth @bind-Value="@HubGroup" Label="Replication group" Variant="Variant.Text"></MudTextField>    
      </MudItem>  
      <MudItem xs="8">
               <MudTextField Class="ml-4" FullWidth @bind-Value="@Project.BlackBoardHostIP" Label="Blackboard host IP" Variant="Variant.Text"></MudTextField>   
      </MudItem>
     @*  <MudItem xs = "3">
     <MudTextField Class="ml-4" @bind-Value="@Project.BlackBoardHostIP" Label="Black board IP address" Variant="Variant.Text"></MudTextField>
      </MudItem>   *@
</MudGrid>
</MudForm>


</MudItem>
<MudItem xs ="6">
<MudText  Class="ml-4 mt-4" Typo="Typo.h6">Containers</MudText>

<MudToolBar>
           

        <MudButton StartIcon="@Icons.Material.Filled.NewLabel" IconColor="Color.Warning" OnClick="CreateContainers" Disabled="@_shouldNotCreateContainers"> Create missing containers  </MudButton>      
        <MudButton StartIcon="@Icons.Material.Filled.PlayArrow" IconColor="Color.Success" OnClick="() => StartContainers()" Disabled="_canNotStartSelection">Start selection</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Stop" IconColor="Color.Error" OnClick="() => StopContainers()" Disabled="_canNotStopSelection">Stop selection</MudButton> 
        <MudButton StartIcon="@Icons.Material.Filled.Delete" IconColor="Color.Dark" OnClick="() => DeleteContainers()" Disabled="_canNotDeleteContainers">Delete selection</MudButton> 

    
    </MudToolBar>
</MudItem>


<MudItem xs ="3">
<MudText  Class="ml-4 mt-4" Typo="Typo.h6">Images</MudText>

<MudToolBar>
            <MudButton StartIcon="@Icons.Material.Filled.CheckCircle" IconColor="Color.Dark" OnClick="() => CheckForUpdates()">Check for updates</MudButton> 
        <MudButton StartIcon="@Icons.Material.Filled.Update" IconColor="Color.Dark" OnClick="() => UpdateSelection()">Update images</MudButton> 
    @if(_thinking)
    {
        <MudProgressCircular Color="Color.Info"  Indeterminate="true" />
    }
    </MudToolBar>

</MudItem>
</MudGrid>

<hr />


@if(_status != null)
{
<MudTable   Class="mt-4"
          Hover="true" 
          Breakpoint="Breakpoint.Sm" 
          Height="1000px" 
          FixedHeader="true"
          Items="@_status.Items"
          GroupBy="@_groupDefinition"
          GroupHeaderStyle="background-color:var(--mud-palette-background-gray)"
          GroupFooterClass="mb-4"
          Dense="true"        
          MultiSelection="true"
          @ref="_tableRef"
          T="StandardSetUpStatusItem"
          SelectedItemsChanged="SelectionChanged">
              <ToolBarContent>
                   <MudButton  IconSize="Size.Large" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Info" OnClick="RefreshStatus">  </MudButton>  
        <MudText Typo="Typo.h6">Containers</MudText></ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Container</MudTh>
        <MudTh>Config ok</MudTh>
        <MudTh>Start/stop/Create</MudTh>
        <MudTh>Image status</MudTh>
    </HeaderContent>

    <GroupHeaderTemplate>
        <MudTh Class="mud-table-cell-custom-group" colspan="5" >@($"{context.Key}") </MudTh>
      
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.SetUpItem.ModuleDisplayName</MudTd>
        <MudTd DataLabel="Sign">@context.ContainerName</MudTd>
        <MudTd DataLabel="Name">@context.ConfigurationStatus()</MudTd>
        <MudTd DataLabel="Start/stop">
                @if (context.Started)
                {
                    <MudButton StartIcon="@Icons.Material.Filled.Stop" IconColor="Color.Error" OnClick="() => _client.StopContainer(context.ContainerID)">Stop</MudButton>
                }
                else if (!string.IsNullOrEmpty(context.ContainerName))
                {
                    <MudButton StartIcon="@Icons.Material.Filled.PlayArrow" IconColor="Color.Success" OnClick="() => _client.StartContainer(context.ContainerID)">Start</MudButton>
                }
                else
                {
                    <MudButton StartIcon="@Icons.Material.Filled.NewLabel" OnClick="async () => 
                            {_modulesConfigClient.SaveStandardConfigToFile(context.SetUpItem); 
                                await _client.CreateStandardItemContainer(context.SetUpItem, Project.BlackBoardHostIP);}">
                                    Create
                    </MudButton>
                }
            </MudTd>
            <MudTd DataLabel="Image statis">
                @if(context.CurrentImageStatus == StandardSetUpStatusItem.ImageStatus.Updated)
                {
                    <MudBadge Color="Color.Success" Dot="true" Class="mx-6 my-4">Updated</MudBadge>
                }
                else if(context.CurrentImageStatus == StandardSetUpStatusItem.ImageStatus.Outdated)
                {
                    <MudBadge Color="Color.Warning" Dot="true" Class="mx-6 my-4">Outdated</MudBadge>
                }
                else
                {
                    <MudBadge Color="Color.Default" Dot="true" Class="mx-6 my-4">Unknown</MudBadge>
                }
            </MudTd>
    </RowTemplate>
      </MudTable>
}

      </div>
@code {


    [Parameter]
    public DWISProject Project { get; set; } = new DWISProject();

    private MudTable<StandardSetUpStatusItem> _tableRef;
    private StandardSetUpStatus? _status => Project.Status;

    private bool _shouldNotCreateContainers = false;
    private bool _canNotStartSelection = false;
    private bool _canNotStopSelection = false;
    private bool _canNotDeleteContainers = false;

    private bool _thinking = true;


    private HashSet<StandardSetUpStatusItem>? _currentSelection;

    private HashSet<StandardSetUpStatusItem> selectedItems = new HashSet<StandardSetUpStatusItem>();

    private IEnumerable<string> SelectedContainers => selectedItems.Select(i => i.ContainerID);

    private TableGroupDefinition<StandardSetUpStatusItem> _groupDefinition = new()
    {
        GroupName = "Group",
        Indentation = false,
        Expandable = true,
        IsInitiallyExpanded = true,
        Selector = (e) => e.SetUpItem.ModuleGroup
    };

    private bool ReplicationEnabled
    {
        get { return Project.ReplicationEnabled; }
        set { Project.ReplicationEnabled = value; DWISProject.SaveBase(Project); }
    }

    private string HubGroup
    {
        get { return Project.HubGroup; }
        set { Project.HubGroup = value; DWISProject.SaveBase(Project); }
    }

    private string BlackBoardHostIP
    {
        get { return Project.BlackBoardHostIP; }
        set { Project.BlackBoardHostIP = value; DWISProject.SaveBase(Project); }    }

    private void SelectionChanged(HashSet<StandardSetUpStatusItem> selectedItems)
    {
        _currentSelection = selectedItems;
        _canNotStartSelection = ! CheckCanStartSelection();
        _shouldNotCreateContainers = ! CheckShouldCreateContainers();
        _canNotStopSelection = ! CheckCanStopSelection();
        _canNotDeleteContainers = ! CheckCanDeleteSelection();
    }




    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (_client != null && SetUp != null)
        {
            try
            {
                await _client.UpdateStandardSetupImageDates(SetUp);
            }
            catch (Exception ex)
            {
                ManageErrors(ex.ToString());    
            }
        }
        RefreshStatus();
    }

    private async void ManageErrors(string exceptionMessage)
    { }

    private async void RefreshStatus()
    {
        _thinking = true;
        Project.Status = await _client.UpdateStandardSetupStatus(SetUp, Project.ReplicationEnabled, Project.HubGroup);
        _thinking = false;
        await InvokeAsync(StateHasChanged);

    }


    private bool CheckShouldCreateContainers()
    {
        if (_status == null) return false;
        var groups = _status.Items.GroupBy(i => i.SetUpItem.ModuleDisplayName);

        //too many selected from same group
        if(groups.Any(g => g.Count()==0 || (g.Count() == 1 && string.IsNullOrEmpty( g.First().ContainerName))))
        {
            return true;
        }
        return false;
    }

    private bool CheckCanStartSelection()
    {
        if (_status == null) return false;

        if(_currentSelection != null && _currentSelection.Count > 0)
        {
            if (_currentSelection.Any(i => string.IsNullOrEmpty( i.ContainerID)))
            {
                return false;    
            }

            //TO DO: change this so that only the selected items are concerned
            var groups = _status.Items.GroupBy(i => i.SetUpItem.ModuleDisplayName);

            //too many selected from same group
            if(groups.Any(g => g.Count()>1))
            {
                return false;
            }

            if(_currentSelection.All(s => s.Started))
            {
                return false;
            }


            return true;
        }

        return false;    
    }

    private bool CheckCanStopSelection()
    {
        if(_currentSelection != null && _currentSelection.Count > 0)
        {      

            if(_currentSelection.All(s => !s.Started))
            {
                return false;
            }


            return true;
        }


        return false;
    }


    private bool CheckCanDeleteSelection()
    {
        if (_currentSelection != null && _currentSelection.Count > 0)
        {
            if (_currentSelection.Any(s => !string.IsNullOrEmpty(s.ContainerID)))
            {
                return true;
            }
            else
            {
                return false;
            }
        }
        return false;
    }

    private async Task StartContainers() {
        _thinking = true;
        if(_currentSelection != null)
        {
            foreach(var item in _currentSelection)
            {
                if (!string.IsNullOrEmpty(item.ContainerID) && !item.Started)
                {
                    try
                    {
                        await _client.StartContainer(item.ContainerID);
                    }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }
                }
            }
        }
        RefreshStatus();
        return; 
    }
    private async Task StopContainers() {   if(_currentSelection != null)
        {
            _thinking = true;
            foreach(var item in _currentSelection)
            {
                if(!string.IsNullOrEmpty(item.ContainerID) && item.Started)
                {
                    try
                    {
                        await  _client.StopContainer(item.ContainerID);
                    }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }}
            }
        }
        RefreshStatus();
        return;
    }

    private async Task CreateContainers()
    {
        if (_status == null) return;
        _thinking = true;
        var toCreate = _status.Items.Where(i => string.IsNullOrEmpty(i.ContainerID));

        foreach (var item in toCreate)
        {
            if (item.SetUpItem.ConfigurationRequired)
            {
                _modulesConfigClient.SaveStandardConfigToFile(item.SetUpItem);
            }
            if (item.SetUpItem.ModuleDisplayName == "Default Blackboard")
            {
                string name = Project.ReplicationEnabled ? item.SetUpItem.DefaultContainerName + "-" + Project.HubGroup : item.SetUpItem.DefaultContainerName;
                try{
                await _client.CreateBlackboardContainer(Project.ReplicationEnabled ?   Project.HubGroup : string.Empty, name, item.SetUpItem.BlackBoardPort);
                }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }
            }
            else if (item.SetUpItem.ModuleDisplayName == "Local Blackboard")
            {
                try{
                await _client.CreateBlackboardContainer("", item.SetUpItem.DefaultContainerName, item.SetUpItem.BlackBoardPort);
                }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }
            }
            else 
            {
                try{
                await _client.CreateStandardItemContainer(item.SetUpItem, Project.BlackBoardHostIP);
            }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }}
        }   
        RefreshStatus();
    }

    private async Task DeleteContainers() {
        _thinking = true;
        if(_currentSelection != null)
        {
            foreach(var item in _currentSelection)
            {
                if(!string.IsNullOrEmpty(item.ContainerID))
                {
                    try{
                    await  _client.DeleteContainer(item.ContainerID);
                }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }}
            }
        }
        RefreshStatus();
        return; 
    }
    private async Task CheckForUpdates() {

        
        _thinking = true;
        try{
        await _client.UpdateStandardSetupImageDates(SetUp);
        }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }RefreshStatus();       
    }


    private async Task UpdateSelection() {
        _thinking = true;
        if(_currentSelection != null)
        {
            try{
            await _client.UpdateStandardItemImages(_currentSelection);
            }
                    catch (Exception ex)
                    {
                        ManageErrors(ex.ToString());    
                    }
        }
        RefreshStatus();
        return; 
    }
}
